
  <style>
  .jb{
      width:225px;
      height:350px;
     
  }
  .conatiner{
      background-color:lightblue;
  }
  
  </style>
   
      <div class="conatiner">
        <!-- Contact Information -->
        <div class="col-12 col-md-4">
          <div class="contact-information">
           
            
                    <p class="jb"><strong>Teeth Whitening is so important for everybody therefore many people who try to do be goog their teeth , probably cost of it's is expensive and difficult.But most of people are coming to the our clinic for doing whitening</strong></p>

        

            </div>
            </div>
           </div> 



  